<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    <div class="container">
      Short URL: <a href=<%= `/u/${shortURL}` %>><b><%=shortURL%></b></a>
      <form method="POST" action=<%=`/urls/${shortURL}?_method=PUT`%>>
        <input id="newURL" type="text" name="newURL" placeholder=<%=urls[shortURL].url%> style="width: 300px">
        <input type="submit" value="Update">
      </form>
      <h2>Visitors: <%= visits.length %></h2>
      <h2>Unique visitors: <%= uniqueVisits %></h2>
      <table class="table">
        <tr>
          <th>Visitor ID</th>
          <th>Timestamp</th>
        </tr> 
        <% visits.forEach((visit) => { %>
          <tr>
            <td>
              <%= visit.visitor_id %>
            </td>
            <td>
              <%= visit.timestamp %>
            </td>
          </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>