<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    Short URL: <b><%=shortURL%></b>
    <form method="POST" action=<%=`/urls/${shortURL}?_method=PUT`%>>
      <input id="newURL" type="text" name="newURL" placeholder=<%=urls[shortURL].url%> style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <h2>Visitors: <%= visits.length %></h2>
    <h2>Unique visitors: <%= uniqueVisits %></h2>
    <table>
      <% visits.forEach((visit) => { %>
        <tr>
          <td>
            Visitor ID: <%= visit.visitor_id %>
          </td>
          <td>
            Timestamp: <%= visit.timestamp %>
          </td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>