<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    <table>
      <% for(var url in urls) {  %>
        <tr>
          <td><%= url %></td>
          <td>&#8594</td>
          <td><a href=<%= urls[url].url %>> <%= urls[url].url %> </a></td>
          <td>
            <form method="GET" action=<%=`/urls/${url}`%>>
              <input type="submit" value="Edit">
            </form>
          </td>
          <td>
            <form method="POST" action=<%=`/urls/${url}/delete?_method=DELETE`%>>
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% }; %>
    </table>
    <h2>Click <a href="/urls/new">here</a> to shorten a url.</h2>
  </body>
</html>