<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    <table>
      <% for(var url in urls) {  %>
        <form method="POST" action=<%=`/urls/${url}/delete`%>>
          <tr>
            <td><%= url %></td>
            <td>&#8594</td>
            <td><a href=<%= urls[url]%>> <%= urls[url] %> </a></td>
            <td><a href=<%=`/urls/${url}`%>>Edit</a></td>
            <td><input type="submit" value="Delete"></td>
          </tr>
        </form>
      <% }; %>
  </table>
  </body>
</html>